.LightsHUD-container {
	display: flex; 
	justify-content: flex-end; 
	align-items:center; 
	margin-right: 75px;
	flex: 0 !important;
}


#token-hud .col.LightsHUD-column-top .control-icon:first-child {
    margin-top: 8px;
}

#token-hud .col.LightsHUD-column-bottom .control-icon:first-child {
    margin-top: 8px;
}

#token-hud .control-icon {
    margin-right: 8px;
}

.col.LightsHUD-column-left {
	justify-content: center;
	flex-direction: column; 
	left: -130px;
	width: 70px;
	padding-top: 10px;
}
.col.LightsHUD-column-right {
	justify-content: center;
	flex-direction: column; 
	right: -130px;
	width: 70px;
}
.col.LightsHUD-column-top {
	align-items: flex-start;
	justify-content: center;
	flex-direction: row; 
	top: -50px;
	left: 0px;
	right: 0px;
}

#token-hud .col.LightsHUD-column-top {
	top: -60px;
}

#token-hud .col.LightsHUD-column-top.LightsHUD-height-1 {
	top: -90px;
}

#token-hud .col.LightsHUD-column-top.LightsHUD-height-0_5 {
	top: -120px;
}

.col.LightsHUD-column-bottom {
	align-items: flex-end;
	justify-content: center;
	flex-direction: row; 
	top: 200px;
	left: 0px;
	right: 0px;
}

#token-hud .col.LightsHUD-column-bottom {
	top: 10px;
}

.fas.fa-disabled {
	color: #555;
	pointer-events: none;
}

input[type=range]:disabled {
	opacity: 0.5;
	pointer-events: none;
}

input[type=range]:disabled + .range-value {
	opacity: 0.5;
}