.lightshud-container {
	display: flex; 
	justify-content: flex-end; 
	align-items:center; 
	margin-right: 75px;
	flex: 0 !important;
}

#token-hud .col.lightshud-column-top {
  height: calc(100% + 100px);
  top: -170px;
}

#token-hud .col.lightshud-column-top .control-icon:first-child {
    margin-top: 8px;
}

#token-hud .col.lightshud-column-bottom .control-icon:first-child {
    margin-top: 8px;
}

#token-hud .control-icon {
    margin-right: 8px;
}

#token-hud .col.lightshud-column-bottom {
  height: calc(100% + 100px);
  top: 75px;
}

.col.lightshud-column-left {
	flex-direction: column; 
	left: -130px;
	width: 70px;
	padding-top: 20px;
}
.col.lightshud-column-right {
	flex-direction: column; 
	right: -130px;
	width: 70px;
	padding-top: 17px;
}
.col.lightshud-column-top {
	flex-direction: row; 
	top: -50px;
	left: -27px;
	width: 210px;
	padding-top: 17px;
}
.col.lightshud-column-bottom {
	flex-direction: row; 
	top: 200px;
	left: -25px;
	width: 210px;
	padding-top: 5px;
}

.fas.fa-disabled {
	color: #555;
	pointer-events: none;
}
